body{
    
    justify-content: center;
    
}

.container{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 400px ;
    height: 600px;
    background: transparent;
    padding-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 5px;
}

.text{
    color:#fff;
    font-size: 48px;
    font-weight: 500;
}

.underline{
    width: 150px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    
    align-items: center;
    width:350px;
    height: 50px;
    background: transparent;
    border-radius: 6px;
    position: relative;
    margin-left: 2%;
    margin-top: 5px;
}

.input input{
    height: 50px;
    width: 100% ;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 40px;
    padding-left: 20px;

}
.input input::placeholder{
    color: #fff;
}
.forgot{
    padding-left: 30px;
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
}
.forgot span{
    color: #4c00b4;
    cursor: pointer;
}
.forgot span:hover{
    color: #fff;
    text-decoration: underline;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}


.gray{
    background: #fff;
    color: #676767;
}
